@using SGE.Aplicacion.CasosDeUso

@inject ExpedienteBuscarPorIdConTramitesCasoDeUso ExpedienteBuscarPorIdConTramitesCasoDeUso
@inject ExpedienteModificarCasoDeUso              ExpedienteModificarCasoDeUso
@inject Session                                   CurrentSession

<Dialogo @ref="DialogoObjeto"/>
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="bg-white dark:bg-gray-800 mt-8 max-w-2xl px-6 py-8 mx-auto lg:py-12 sm:rounded-lg shadow-md">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Expediente #@Expediente.Id</h2>
        <form @onsubmit="ModificarExpediente">
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <div class="sm:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="caratula">Carátula</label>
                    @if (IsEditable) {
                        <input @bind="Expediente.Caratula" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="caratula"
                               name="caratula" placeholder="Ingrese una carátula para el expediente..." @ref="_inputCaratula" type="text">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="caratula" name="caratula" readonly type="text" value="@Expediente.Caratula">
                    }
                </div>
                <div class="w-full">
                    <label class="block  mb-2 text-sm font-medium text-gray-900 dark:text-white" for="estado">Estado</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="estado" name="estado" readonly type="text" value="@Expediente.Estado.ToString()"/>
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="created_at">Fecha de creación</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="created_at" name="created_at" readonly type="text" value="@Expediente.CreatedAt"/>
                </div>
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="usuario">Usuario última modificación</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="usuario" name="usuario" readonly type="text" value="@Expediente.UsuarioUltimaModificacion.NombreCompleto"/>
                </div>
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="updated_at">Fecha de última modificación</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="updated_at" name="updated_at" readonly type="text" value="@Expediente.UpdatedAt"/>
                </div>
                <div class="flex items-center space-x-4">
                    @if (IsEditable) {
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">
                        Guardar cambios
                    </button>
                    } else {
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            @onclick="Editar" type="button">
                        Editar
                    </button>
                    }
                </div>
                <hr class="col-span-2"/>
                <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Tramites: @Expediente.Tramites.Count
                </div>
                <div class="flex justify-end align-top">
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            type="button">
                        Agregar trámite
                    </button>
                </div>
                @if (Expediente.Tramites.Count > 0) {
                    <div class="col-span-2">
                        <div class="grid gap-1 grid-cols-1 lg:grid-cols-6 sm:gap-2">
                            @foreach (Tramite tramite in Expediente.Tramites) {
                                <div>
                                    @tramite.Contenido
                                </div>
                                <div>
                                    @tramite.Etiqueta.ToString()
                                </div>
                                <div>
                                    @tramite.UsuarioUltimaModificacion.NombreCompleto
                                </div>
                                <div>
                                    @tramite.CreatedAt
                                </div>
                                <div>
                                    @tramite.UpdatedAt
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
</section>

@code{
    [Parameter] public required Expediente Expediente { get; set; }
    [Parameter] public          bool       IsEditable { get; set; }

    private Dialogo          DialogoObjeto { get; set; } = null!;
    private ElementReference _inputCaratula;

    protected override Task OnAfterRenderAsync(bool firstRender) {
        if (!IsEditable) return base.OnAfterRenderAsync(firstRender);

        _inputCaratula.FocusAsync();

        return base.OnAfterRenderAsync(firstRender);
    }

    private void Editar() {
        IsEditable = true;
        StateHasChanged();
    }

    private void ModificarExpediente() {
        try {
            IsEditable = false;
            ExpedienteModificarCasoDeUso.Ejecutar(Expediente, CurrentSession.Usuario!);
            DialogoObjeto.Mostrar("Expediente modificado correctamente.");
            StateHasChanged();
        } catch (Exception e) {
            DialogoObjeto.Mostrar(e.Message, true);
            StateHasChanged();
        }
    }

}