@using SGE.Aplicacion.CasosDeUso
@using SGE.Aplicacion.Interfaces.Servicios
@inject UsuarioModificarCasoDeUso UsuarioModificarCasoDeUso
@inject PermisoListarCasoDeUso    PermisoListarCasoDeUso
@inject Session                   CurrentSession
@inject IServicioAutorizacion     ServicioAutorizacion
@inject IServicioDeClaves         ServicioDeClaves

<Dialogo @ref="DialogoObjeto"/>
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="bg-white dark:bg-gray-800 mt-8 max-w-2xl px-6 py-8 mx-auto lg:py-12 sm:rounded-lg shadow-md">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Usuario #@Usuario.Id</h2>
        <form @onsubmit="ModificarUsuario">
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="nombre">Nombre</label>
                    @if (IsEditable) {
                        <input @bind="Usuario.Nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="nombre" name="nombre" placeholder="Ingrese su nombre..." type="text">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="nombre" name="nombre" readonly type="text" value="@Usuario.Nombre">
                    }
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="apellido">Apellido</label>
                    @if (IsEditable) {
                        <input @bind="Usuario.Apellido" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="apellido" name="apellido" placeholder="Ingrese su apellido..." type="text">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="apellido" name="apellido" readonly type="text" value="@Usuario.Apellido">
                    }
                </div>
                <div class="sm:col-span-2">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email">Email</label>
                    @if (IsEditable) {
                        <input @bind="Usuario.Email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="email" name="email" placeholder="Ingrese su Email..." type="email">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="email" name="email" readonly type="email" value="@Usuario.Email">
                    }
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="contraseña">Contraseña</label>
                    @if (IsEditable) {
                        <input @bind="_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="contraseña" name="contraseña" placeholder="Ingrese su nueva contraseña..." type="password">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-500 dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="contraseña" name="contraseña" readonly type="password" value="* * * * * * * * * * *">
                    }
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="contraseña">Confirme su contraseña</label>
                    @if (IsEditable) {
                        <input @bind="_passwordConfirmacion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="contraseñaConfirmacion" name="contraseñaConfirmacion" placeholder="Confirme su nueva contraseña..." type="password">
                    } else {
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-500  dark:focus:ring-primary-500 dark:focus:border-primary-500"
                               id="contraseñaConfirmacion" name="contraseñaConfirmacion" readonly type="password" value="* * * * * * * * * * *">
                    }
                </div>
                <div class="w-full">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="created_at">Fecha de creación</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="created_at" name="created_at" readonly type="text" value="@Usuario.CreatedAt"/>
                </div>
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="updated_at">Fecha de última modificación</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                           id="updated_at" name="updated_at" readonly type="text" value="@Usuario.UpdatedAt"/>
                </div>
                @if (CurrentSession.Usuario!.IsAdmin) {
                    <hr class="col-span-2"/>
                    <div class="col-span-2">
                        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Permisos</h3>

                        <ul class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            @foreach (Permiso permiso in ObtenerPermisosDb()) {
                                <li class="p-3 flex w-full border-gray-200 rounded-t-lg dark:border-gray-600">
                                    <div class="flex items-center h-5">
                                        <input aria-describedby="helper-checkbox-text"
                                               checked="@(VerificarPermiso(Usuario, permiso))" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                               disabled="@(!IsEditable)"
                                               id="permiso-@permiso.Id" @onchange="eventArgs => { CheckboxClicked(permiso, eventArgs.Value!); }" type="checkbox" value="">
                                    </div>
                                    <div class="ms-2 text-sm pl-3">
                                        <label class="font-medium text-gray-900 dark:text-gray-300" for="permiso-@permiso.Id">@permiso.Nombre</label>
                                        <p class="font-normal text-xs italic text-gray-500 dark:text-gray-300" id="helper-checkbox-text">@permiso.Descripcion</p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="flex items-center space-x-4">
                @if (IsEditable) {
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">
                        Guardar cambios
                    </button>
                } else {
                    <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                            @onclick="Editar" type="button">
                        Editar
                    </button>
                }
            </div>

        </form>
    </div>
</section>

@code {
    [Parameter] public required Usuario Usuario    { get; set; }
    [Parameter] public          bool    IsEditable { get; set; }

    private Dialogo DialogoObjeto { get; set; } = null!;

    private List<Permiso> Permisos { get; set; } = new();
    private string        _password             = "";
    private string        _passwordConfirmacion = "";
    private bool          _passwordCambiada     = false;

    private void CheckboxClicked(Permiso permiso, object checkedValue) {
        if ((bool)checkedValue) {
            Permisos.Add(permiso);
        } else {
            Permiso? p = Permisos.Find(p => p.Nombre == permiso.Nombre);

            if (p != null) {
                Permisos.Remove(p);
            }
        }
    }

    protected override void OnParametersSet() {
        InicializarPermisos();
        base.OnParametersSet();
    }

    private void InicializarPermisos() {
        foreach (Permiso p in ObtenerPermisosDb().Where(p => Usuario.Permisos.Any(permiso => permiso.Nombre == p.Nombre))) {
            Permisos.Add(p);
        }
    }

    private void Editar() {
        IsEditable = true;
        StateHasChanged();
    }

    private void ModificarUsuario() {
        if (_password != _passwordConfirmacion) {
            DialogoObjeto.Mostrar("Las contraseñas no coinciden", true);
            return;
        }

        try {
            _passwordCambiada = !string.IsNullOrEmpty(_password) && !string.IsNullOrEmpty(_passwordConfirmacion);

            if (_passwordCambiada)
                Usuario.Password = _password;

            Usuario.Permisos.Clear();
            Usuario.Permisos = Permisos;

            IsEditable = false;

            UsuarioModificarCasoDeUso.Ejecutar(Usuario, CurrentSession.Usuario!, _passwordCambiada);
            DialogoObjeto.Mostrar("Usuario modificado correctamente");
        } catch (Exception e) {
            DialogoObjeto.Mostrar(e.Message, true);
        }

        StateHasChanged();
    }

    private bool VerificarPermiso(Usuario usuario, Permiso permiso) {
        return usuario.Permisos.Any(p => p.Nombre == permiso.Nombre) || ((permiso.Nombre == "AdminGeneral") && usuario.IsAdmin);
    }

    private List<Permiso> ObtenerPermisosDb() => PermisoListarCasoDeUso.Ejecutar();
}